body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

::selection {
    background: rgba(0,0,0,.15);
}

body *:not([contenteditable=""]):not([contenteditable="true"]) {
    user-select: none;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.w-40 {
    width: 40%;
}

@font-face {
    font-family: "Pigiarniq";
    src: url('Pigiarniq Regular.ttf')  format('truetype');
}

.bg {
    transition: background-color .25s;
    background-color: #111;
}

.red {
    background-color: #d09ca8;
}

.bg.night * #letter:focus, .bg.night * #number:focus {
    border-bottom: 1px dotted rgba(255, 255, 255, .25) !important;
}

.bg.night.red * #letter, .bg.night.red * #number {
    color: #d09ca8 !important;
}

.bg.night * svg {
    color: white !important;
}

.green {
    background-color: #b0c0a6;
}

.bg.night.green * #letter, .bg.night.green * #number {
    color: #b0c0a6 !important;
}

.yellow {
    background-color: #cdc68f;
}

.bg.night.yellow * #letter, .bg.night.yellow * #number {
    color: #cdc68f !important;
}

.blue {
    background-color: #82a1d0;
}

.bg.night.blue * #letter, .bg.night.blue * #number {
    color: #82a1d0 !important;
}

.bg.night {
    background-color: #111 !important;
}



.swatch {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.1);
    opacity: .5;
}

.swatch:hover {
    opacity: 1;
}

.bg {
    text-align: center;
    height: 100%;
    width: 100%;
}

.text-container {
    height: 100%;
    margin: auto;
    line-height: 100vh;
    display: block;
    padding-left: 25%;
    padding-right: 25%;
    clear: both;
    font-family: "Pigiarniq", "sans-serif" !important;
    vertical-align: middle;
}

#letter, #number {
    margin: 0;
    font-size: 16em;
    transition: all .25s;
    font-family: "Pigiarniq", "sans-serif" !important;
    caret-color: transparent;
    line-height: 100%;
}

#mainContent {
    padding: 0 600px 0;
    transition: all .25s;
}

#letter:focus, #number:focus {
    outline: none !important;
    border: none !important;
    border-bottom: 1px dotted black !important;
    margin-bottom: -1px;
}

.menu-button {
    cursor: pointer;
    opacity: .5;
}

.menu-button:hover {
    opacity: 1;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    opacity: .5;
    pointer-events: none;
    display: block; /* For Firefox */
}